.container {
  margin: 50px 0; 
  width: 64.5%; 
}

.card {
  margin: 0 2% !important;
  background-color: #242738 !important;  
}

.infected {
  border-bottom: 5px solid yellow;  
  color: #fff;
}

.infectedTitle {
  color: yellow;  
}

.infectedNumber {
  color: rgb(230, 230, 69);
  padding-bottom: 10px;
}

.infectedDate, .infectedText {
  color:#a8a8b3;  
  padding-bottom: 10px;
}

.recovered {
  border-bottom: 5px solid rgba(0, 255, 0, 0.5)
}

.recoveredTitle {
  color: rgb(0, 255, 0);  
}

.recoveredNumber {
  color: rgb(116, 250, 116);
  padding-bottom: 10px;
}

.recoveredDate, .recoveredText {
  color:#a8a8b3;
  padding-bottom: 10px;
}

.deaths {
  border-bottom: 5px solid rgba(255, 0, 0, 0.5)
}

.deathsTitle {
  color: rgb(218, 51, 51);
}

.deathsNumber {
  color: rgb(218, 90, 90);
  padding-bottom: 10px;
}

.deathsDate, .deathsText {
  color:#a8a8b3;
  padding-bottom: 10px;
}

@media (max-width:1024px) {  
  .container {
    margin: 50px 0; 
    width: 85%; 
  }
}

@media (max-width:970px) {  
  .container {
    margin: 50px 0; 
    width: 100%; 
  }

  .card {
    width: 25%;
  }
}

@media (max-width:768px) { 
  .container {    
    width: 100%; 
  }

  .card {
    width: 100%;     
    margin: 2% 5% !important; 
  }
}
