:root {
  flex-wrap: nowrap;
}

body {
  background-color: #121214;  
  font-family: sans-serif;
}

.container {
  display: flex;
  align-items: center;  
  flex-direction: column;    
}

.logo {
  width: 370px;  
  margin-top: 50px;
}

@media (max-width:770px) {
  .logo {
    width: 70%;
  }
}